<style>
  table {
    border-collapse: collapse;
  }
  .user-form {
    width: 100%;
    padding-bottom: 0.5em;
  }
  .user-form > .form-title, .user-table > .table-title {
    width: 100%;
    font-size: 1.25em;
    font-weight: 600;
    position: relative;
    height: 1.5em;
    line-height: 1.5em;
  }
  .form-title > .title, .table-title > .title {
    height: 100%;
    position: absolute;
    left: 0.8em;
    top: 0;
  }
  .form-title > .blue-block, .table-title > .blue-block {
    height: 64%;
    width: 0.4em;
    position: absolute;
    left: 0;
    top: 18%;
    background-color: #44aaee;
  }
  .user-form > .form-body, .user-table > .table-body {
    margin-top: 0.475em;
    width: 100%;
    border: 2px solid #333333;
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
  }
  .form-body table, tbody, tr, .table-body table, tbody, tr {
    width: 100%;
  }
  .form-body tr{
    height: 3em;
  }
  .form-body td {
    width: 25%;
  }
  .table-head th {
    border: 1px solid #33aaef;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 0;
    background-color: #33aaef;
    color: #FFFFFF
  }
  .table-head th:first-child {
    border-left: 1px solid #33aaef;
  }
  .table-head th:last-child {
    border-right: 1px solid #33aaef;
  }
  .table-body tr {
    height: 1.8em;
  }
  .table-body th, td {
    text-align: center;
  }
  .table-body > .table-data {
    width: 100%;
    overflow-y: scroll;
  }
  .input-container {
    position: relative;
    width: 100%;
    height: 2em;
  }
  .input-container > .input-label, .input-container > .input-content {
    height: 100%;
    position: absolute;
    font-size: 0.9125em;
    line-height: 2.5em;
    top: 0;
  }
  .input-container > .input-label {
    left: 0;
    width: 25%;
    padding-right: 0.875em;
    text-align: right;
  }
  .input-container > .input-content {
    left: 25%;
    width: 70%;
  }
  .input-content input {
    height: 100%;
    font-size: 1em;
    padding-right: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #515151;
  }

  .table-data tr:nth-child(odd)
  {
    background:#D2D2D2;
  }
  .table-data tr:nth-child(even)
  {
    background:#FFFFFF;
  }
  .table-footer {
    position: absolute;
    padding: 0.5em;
    bottom: 0.5em;
    right: 2.5em;
  }
  .table-footer > .current-page{
    float: right;
    height: 100%;
    line-height: 2.25em;
  }
  .table-footer > .page-num {
    height: 2.2em;
    line-height: 2.2em;
    padding: 0 0.8em;
    border: 1px solid #333333;
    float: right;
    margin-left: 0.3em;
    text-align: center;
    cursor: pointer;
  }
  .page-num:hover {
    background-color: #ccbbcc;
  }
  .pagnition-prev, .pagnition-next {
    margin-left: 0.5em;
    height: 2.6em;
    width: 6em;
    text-align: center;
    float: right;
  }
</style>

<div class="user-form">
  <div class="form-title">
    <div class="blue-block"></div>
    <div class="title">
      权限管理
    </div>
  </div>
  <div class="form-body">
    <table>
      <tbody>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-table">
  <div class="table-title">
    <div class="blue-block"></div>
    <div class="title">用户权限明细</div>
  </div>
  <div class="table-body">
    <table class="table-head">
      <tbody>
        <tr>
          <th>表头1</th>
          <th>表头2</th>
          <th>表头3</th>
          <th>表头4</th>
          <th>表头5</th>
          <th>表头6</th>
          <th>表头7</th>
        </tr>
      </tbody>
    </table>
    <div class="table-data">
      <table border="1">
        <tbody>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <button class="pagnition-next">下一页</button>
      <button class="pagnition-prev">上一页</button>
      <div class="page-num">
        256
      </div>
      <div class="page-num">
        ...
      </div>
      <div class="page-num">
        3
      </div>
      <div class="page-num">
        2
      </div>
      <div class="page-num">
        1
      </div>
      <div class="current-page">
        当前第<span style="padding: 0 0.3em;">1</span>页
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    $('.table-head').width($('.table-data').find('table').width() + 2);
    $('.table-body').height($('.page-content').height() - $('.user-form').height() - $('.table-title').height() - 36);
    $('.table-data').height($('.table-body').height() - $('.table-title').height() - $('.table-footer').height());
  })();
</script>