<div class="user-form">
  <div class="form-title">
    <div class="blue-block"></div>
    <div class="title">
      权限管理
    </div>
  </div>
  <div class="form-body">
    <table>
      <tbody>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                用户姓名:
              </div>
              <div class="input-content">
                <input placeholder="请输入用户姓名" type="text"/>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-table">
  <div class="table-title">
    <div class="blue-block"></div>
    <div class="title">用户权限明细</div>
  </div>
  <div class="table-body">
    <table class="table-head">
      <tbody>
        <tr>
          <th>表头1</th>
          <th>表头2</th>
          <th>表头3</th>
          <th>表头4</th>
          <th>表头5</th>
          <th>表头6</th>
          <th>表头7</th>
        </tr>
      </tbody>
    </table>
    <div class="table-data">
      <table border="1">
        <tbody>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <button class="pagnition-next">下一页</button>
      <button class="pagnition-prev">上一页</button>
      <div class="page-num">
        256
      </div>
      <div class="page-num">
        ...
      </div>
      <div class="page-num">
        3
      </div>
      <div class="page-num">
        2
      </div>
      <div class="page-num">
        1
      </div>
      <div class="current-page">
        当前第<span style="padding: 0 0.3em;">1</span>页
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    cancelEvent = function() {

    };
    updateEvent = function() {

    };
    deleteEvent = function() {

    };
    queryEvent = function() {

    };

    confirmEvent = function() {

    };
  })();
</script>