<div class = "user-form" xmlns = "http://www.w3.org/1999/html">
  <div class="form-title">
    <div class="blue-block"></div>
    <div class="title">
      车辆管理
    </div>
  </div>
  <div class="form-body">
    <table id="carManagementForm">
      <tbody>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                车辆名称:
              </div>
              <div class="input-content">
                <input bind-to="vehicleName" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                所属标段:
              </div>
              <div class="input-content">
                <input bind-to="partId" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                车辆碾压宽度:
              </div>
              <div class="input-content">
                <input bind-to="vehicleRollingWidth" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container" style="display: none">
              <div class="input-label">
                绑定设备:
              </div>
              <div class="input-content">
                <select bind-to="equipmentId" placeholder="" type="text">

                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <button class="insert c-green">新增</button>
            <button class="query c-blue">查询</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-table">
  <div class="table-title">
    <div class="blue-block"></div>
    <div class="title">设备信息明细</div>
  </div>
  <div class="table-body">
    <div class="table-data">
      <table border="1" id="carManagementTable">
        <thead class="table-head">
        <tr>
          <th>设备编号</th>
          <th>设备名称</th>
          <th>设备类型</th>
          <th>工作时间</th>
          <th>回传时间</th>
          <th>入网时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>表格数据1</td>
          <td>表格数据2</td>
          <td>表格数据3</td>
          <td>表格数据4</td>
          <td>表格数据5</td>
          <td>表格数据6</td>
          <td>删除\修改</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <button class="pagnition-next">下一页</button>
      <button class="pagnition-prev">上一页</button>
      <div class="page-num">
        256
      </div>
      <div class="page-num">
        ...
      </div>
      <div class="page-num">
        3
      </div>
      <div class="page-num">
        2
      </div>
      <div class="page-num">
        1
      </div>
      <div class="current-page">
        当前第<span style="padding: 0 0.3em;">1</span>页
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    $.ajax({
      url: '/equipmentInfo/getVehicle',
      dataType: "json",
      type:"post",
      async: true,
      data: {
        'userId': window.sessionStorage.getItem('USER_ID')
      },
      success:function (response) {
        // 初始化页面
        bindData('#carManagementTable', response, 'vehicleId', true);
      },
      error: function(error) {

      }
    });

    $.ajax({
      url: '/equipmentInfo/getAllEquipmentInfo',
      dataType: "json",
      type:"post",
      async: true,
      success:function (response) {
        var optStr = "";
        for (var i = 0; i < response.length; i ++) {
          optStr += '<option value="' + response[i].equipmentId + '">' + response[i].equipmentName + '</option>'
        }
        $('select[bind-to="equipmentId"]').html(optStr);
      },
      error: function(error) {

      }
    });

    insertEvent = function() {
      $('.window-content').find('[bind-to="equipmentId"]').parents('.input-container').show();
    };

    updateEvent = function(el) {
      var vehicleId = $(el).parents('tr').attr('p-key');
      // 更新全局TARGET
      TARGET_ROW_SET = getTarget('vehicleId', vehicleId);

      // 更新方法查询数据/equipmentInfo /getVehicle
      $.ajax({
        url: '/equipmentInfo/getVehicle',
        dataType: "json",
        type:"post",
        async: true,
        data: {
          'userId': window.sessionStorage.getItem('USER_ID'),
          'vehicleId': vehicleId
        },
        success:function (response) {
          var updateForm = $('.window-content').find('.user-form');
          updateForm.find('[bind-to]').each(function() {
            var pam = $(this).attr('bind-to');
            $(this).val( response[pam] );
          });
        },
        error: function(error) {

        }
      });
    };

    deleteEvent = function(el) {
      var vehicleId = $(el).parents('tr').attr('p-key');
      // 更新全局TARGET
      TARGET_ROW_SET = getTarget('vehicleId', vehicleId);

      $.ajax({
        url: '/equipmentInfo/updateVehicle',
        dataType: "json",
        type:"post",
        async: true,
        data: {
            "vehicle": JSON.stringify([{
                'vehicleId': vehicleId,
                'status': '1'
            }])
        },
        success:function (response) {

        },
        error: function(error) {

        }
      });
    };

    queryEvent = function(el) {
      var filter = el.dataSets;

      $.ajax({
        url: '/equipmentInfo/getVehicle',
        dataType: "json",
        type:"post",
        async: true,
        data: {
          'userId': window.sessionStorage.getItem('USER_ID')
        },
        success:function (response) {
          // 初始化页面
          bindData('#carManagementTable', dataFilter(response, filter), 'vehicleId', true);
        },
        error: function(error) {

        }
      });
    };

    confirmEvent = function(el) {
      // 新增操作
      if (ACTION === 'INSERT') {
        var data = TARGET_ROW_SET;
        el.find('input, select').each(function() {
          if ($(this).val()) {
            data[$(this).attr('bind-to')] = $(this).val();
          }
        });

        // 新增车辆信息
        $.ajax({
          url: '/equipmentInfo/addVehicle',
          dataType: "json",
          type:"post",
          async: true,
          data: {
              "vehicle": JSON.stringify([data])
          },
          success:function (response) {

          },
          error: function(error) {

          }
        });

      // 更新操作
      } else if (ACTION === 'UPDATE') {
        var data = TARGET_ROW_SET;
        el.find('input, select').each(function() {
          if ($(this).val()) {
            data[$(this).attr('bind-to')] = $(this).val();
          }
        });

        // 更新车辆信息
        $.ajax({
          url: '/equipmentInfo/updateVehicle',
          dataType: "json",
          type:"post",
          async: true,
          data: {
            'userId': window.sessionStorage.getItem('USER_ID'),
            "vehicle": JSON.stringify([data])
          },
          success:function (response) {

          },
          error: function(error) {

          }
        });
      }
    };
    cancelEvent = function() {

    };
  })();
</script>