<style>
  .character-list {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0em;
    width: 20%;
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid #515151;
    border-radius: 8px;
    color: #333333;
  }
  .character-info {
    position: absolute;
    left: 20em;
    right: 0;
    top: 0;
    bottom: 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
    min-width: 960px;
  }
  .character-list > ul {
    background-color: #FFFFFF;
    height: 100%;
    border: 2px solid #d2d2d2;
    border-radius: 8px;
  }
  .character-info > .character-auth-detail {
    height: 100%;
    background-color: #FFFFFF;
  }
  .character-info > .character-member-detail {
    margin-top: 0.5em;
    height: 60%;
    background-color: #FFFFFF;
  }
  .character-list .character-item {
    position: relative;
    font-size: 1em;
    padding: 0.25em 0.75em;
    height: 2.5em;
    line-height: 2.5em;
    font-weight: 600;
    border-bottom: 1px dashed #D2D2D2;
  }
  .character-item > .select-control {
    position: absolute;
    margin: 0.25em;
    height: 1.5em;
    width: 1.5em;
    border: 1px solid #d2d2d2;
  }
  .select-control > .select {
    margin: 0.35em;
    height: 0.7em;
    width: 0.7em;
    background-color: #5fc711;
  }

  .character-item > .item-name {
    left: 3em;
    position: absolute;
    height: 2em;
    line-height: 2em;
  }
  .character-item:hover {
    background-color: #E3E3E3;
    color: #515151;
  }
  table {
    width: 100%;
  }
  table, th, td {
    font-size: 0.975em;
  }
  th {
    background-color: #66ccff;
  }
</style>
<div class="character-list">
  <ul id="rules">
    <li class="character-item static pointer rule">
      <div>admin</div>
    </li>
  </ul>
</div>

<div class="character-list" style="left: 22%; width: 28%">
  <ul id="ruleMenu">
    <li class="character-item static ">
      <div class="select-control pointer"><div class=""></div></div>
      <div class="item-name">admin</div>
    </li>
    <li class="character-item static ">
      <div class="select-control pointer"><div class=""></div></div>
      <div class="item-name">admin</div>
    </li>
    <li class="character-item static ">
      <div class="select-control pointer"><div class=""></div></div>
      <div class="item-name">admin</div>
    </li>
  </ul>
</div>

<style>
  .button {
    position: absolute;
    left: 52%;
    width: 16%;
    height: 2.5rem;
    font-size: 1em;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
  }
</style>
<button class="button add" style="top: 32.5%">添加&gt;&gt;&gt;</button>
<button class="button remove" style="top: 42.5%">&lt;&lt;&lt;移除</button>

<div class="character-list" style="left: 70%; width: 28%">
  <ul id="otherMenu">
    <li class="character-item static ">
      <div class="select-control pointer"><div class=""></div></div>
      <div class="item-name">admin</div>
    </li>
    <li class="character-item static ">
      <div class="select-control pointer"><div class=""></div></div>
      <div class="item-name">admin</div>
    </li>
    <li class="character-item static ">
      <div class="select-control pointer"><div class=""></div></div>
      <div class="item-name">admin</div>
    </li>
  </ul>
</div>
<script>
  (function() {
    var ruleId = '';

    $.ajax({
      url: '/permissionManagement/getAllRole',
      dataType: "json",
      type: "post",
      async: false,
      success: function (response) {
        console.log(response);
        var menuHtml = '';
        for ( var i = 0; i < response.length; i++ ) {
          menuHtml += '<li rule-id="' + response[i].ruleId  + '" class="character-item static pointer rule">\
                        <div>' + response[i].ruleName + '</div>\
                      </li>'
        }
        $('.rules').html(menuHtml);

        $('.rule').on('click', function() {
          ruleId = $(this).attr('rule-id');
          $.ajax({
            url: '/permissionManagement/getRuleMenu',
            dataType: "json",
            type: "post",
            async: false,
            success: function (response) {
              console.log(response);
              var menuHtml = '';
              for ( var i = 0; i < response.length; i++ ) {
                menuHtml += '<li class="character-item static ">\
                              <div class="select-control pointer">\
                                <div class="" menu-id="' + response[i].menuId +'"></div>\
                              </div>\
                              <div class="item-name">' + response[i].menuName +'</div>\
                            </li>'
              }
              $('.ruleMenu').html(menuHtml).find('.select-control').on('click', function() {
                $(this).find('div').toggleClass('select');
              });
            },
            error: function (error) {

            }
          });

          $.ajax({
            url: '/permissionManagement/getOtherMenu',
            dataType: "json",
            type: "post",
            async: false,
            success: function (response) {
              console.log(response);
              var menuHtml = '';
              for ( var i = 0; i < response.length; i++ ) {
                menuHtml += '<li class="character-item static ">\
                              <div class="select-control pointer">\
                                <div class="" menu-id="' + response[i].menuId +'"></div>\
                              </div>\
                              <div class="item-name">' + response[i].menuName +'</div>\
                            </li>'
              }
              $('.otherMenu').html(menuHtml).find('.select-control').on('click', function() {
                $(this).find('div').toggleClass('select');
              })
            },
            error: function (error) {

            }
          });
        });

      },
      error: function (error) {

      }
    });

    $('.add').on('click', function() {
      var menuData = [];
      $('#ruleMenu').find('[menu-id]').each(function() {
        menuData.push({
          ruleId: ruleId,
          menuId: $(this).attr('menu-id')
        })
      });

      $('#otherMenu').find('.select').each(function() {
        menuData.push({
          ruleId: ruleId,
          menuId: $(this).attr('menu-id')
        });
        var obj = $(this).parents('li');
        $('#ruleMenu').append(obj);
        obj.remove();
      });

      $.ajax({
        url: '/permissionManagement/changePermission',
        dataType: "json",
        type: "post",
        async: false,
        data: {
          'permission': menuData
        },
        success: function (response) {

        },
        error: function (error) {

        }
      });
    });

    $('.remove').on('click', function() {
      var menuData = [];
      $('#ruleMenu').find('[menu-id]').each(function() {
        if ($(this).hasClass('select')) {
          var obj = $(this).parents('li');
          $('#otherMenu').append(obj);
          obj.remove();
        } else {
          menuData.push({
            ruleId: ruleId,
            menuId: $(this).attr('menu-id')
          })
        }
      });


      $.ajax({
        url: '/permissionManagement/changePermission',
        dataType: "json",
        type: "post",
        async: false,
        data: {
          'permission': menuData
        },
        success: function (response) {

        },
        error: function (error) {

        }
      });
    });

  }());
</script>