<div class="user-form">
  <div class="form-title">
    <div class="blue-block"></div>
    <div class="title">
      运行设备管理
    </div>
  </div>
  <div class="form-body">
    <table id="equipmentManagementForm">
      <tbody>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                设备名称:
              </div>
              <div class="input-content">
                <input bind-to="equipmentName" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                设备编号:
              </div>
              <div class="input-content">
                <input bind-to="equipmentCode" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                设备类型:
              </div>
              <div class="input-content">
                <select id="equipmentType" bind-to="equipmentType">

                </select>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                工作时间:
              </div>
              <div class="input-content">
                <input bind-to="workTime" placeholder="" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                回传时间:
              </div>
              <div class="input-content">
                <input bind-to="lastBackTime" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                入网时间:
              </div>
              <div class="input-content">
                <input bind-to="joinTime" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td colspan="2">
            <div class="input-container">
              <div class="input-label">
                地理位置:
              </div>
              <div class="input-content">
                <input bind-to="location" placeholder="" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
          </td>

          <td>
          </td>

          <td>
          </td>

          <td>
            <button class="insert c-green">新增</button>
            <button class="query c-blue">查询</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-table">
  <div class="table-title">
    <div class="blue-block"></div>
    <div class="title">设备信息明细</div>
  </div>
  <div class="table-body">
    <div class="table-data">
      <table border="1" id="equipmentManagementTable">
        <thead class="table-head">
          <tr>
            <th bind-to="equipmentId">设备编号</th>
            <th bind-to="equipmentName">设备名称</th>
            <th bind-to="equipmentType">设备类型</th>
            <th bind-to="workTime">工作时间</th>
            <th bind-to="laskBackTime">回传时间</th>
            <th bind-to="joinTime">入网时间</th>
            <th bind-to="location">地理位置</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>表格数据1</td>
            <td>表格数据2</td>
            <td>表格数据3</td>
            <td>表格数据4</td>
            <td>表格数据5</td>
            <td>表格数据6</td>
            <td>表格数据7</td>
            <td>删除\修改</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <button class="pagnition-next">下一页</button>
      <button class="pagnition-prev">上一页</button>
      <div class="page-num">
        256
      </div>
      <div class="page-num">
        ...
      </div>
      <div class="page-num">
        3
      </div>
      <div class="page-num">
        2
      </div>
      <div class="page-num">
        1
      </div>
      <div class="current-page">
        当前第<span style="padding: 0 0.3em;">1</span>页
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    cancelEvent = function() {

    };
    updateEvent = function() {

    };
    deleteEvent = function() {

    };
    queryEvent = function() {

    };

    confirmEvent = function() {

    };
  })();
</script>