<div class="user-form">
  <div class="form-title">
    <div class="blue-block"></div>
    <div class="title">
      标段管理
    </div>
  </div>
  <div class="form-body">
    <table id="labelManagementForm">
      <tbody>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                标段名称:
              </div>
              <div class="input-content">
                <input bind-to="partName" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                所属工程编号:
              </div>
              <div class="input-content">
                <input bind-to="engineeringId" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td colspan="2">
            <div class="input-container">
              <div class="input-label">
                工程位置:
              </div>
              <div class="input-content">
                <input bind-to="partLocation" placeholder="" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                标段预估开始:
              </div>
              <div class="input-content">
                <input bind-to="partPredictStart" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                标段预估结束:
              </div>
              <div class="input-content">
                <input bind-to="partPredictEnd" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                标段实际开始:
              </div>
              <div class="input-content">
                <input bind-to="partRealisticStart" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                标段实际结束:
              </div>
              <div class="input-content">
                <input bind-to="partRealisticEnd" placeholder="" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>

          <td>
            <div class="input-container">
              <div class="input-label">
                标段长度:
              </div>
              <div class="input-content">
                <input  bind-to="partLength" placeholder="" type="text"/>
              </div>
            </div>
          </td>

          <td>
            <div class="input-container">
              <div class="input-label">
                标段宽度:
              </div>
              <div class="input-content">
                <input  bind-to="partWidth" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
          </td>

          <td>
            <button class="insert c-green">新增</button>
            <button class="query c-blue">查询</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-table">
  <div class="table-title">
    <div class="blue-block"></div>
    <div class="title">设备信息明细</div>
  </div>
  <div class="table-body">
    <div class="table-data">
      <table border="1" id="labelManagementTable">
        <thead class="table-head">
          <tr>
            <th bind-to="partName">标段名称</th>
            <th bind-to="partLocation">标段位置</th>
            <th bind-to="engineeringId">所属工程</th>
            <th bind-to="partWidth">标段宽度</th>
            <th bind-to="partLength">标段长度</th>
            <th bind-to="partPredictStart">标段预估开始</th>
            <th bind-to="partPredictEnd">标段预估结束</th>
            <th bind-to="partRealisticStart">标段实际开始</th>
            <th bind-to="partRealisticEnd">标段实际结束</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>表格数据1</td>
          <td>表格数据2</td>
          <td>表格数据3</td>
          <td>表格数据4</td>
          <td>表格数据5</td>
          <td>表格数据6</td>
          <td>表格数据7</td>
          <td>表格数据8</td>
          <td>表格数据9</td>
          <td>删除\修改</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <button class="pagnition-next">下一页</button>
      <button class="pagnition-prev">上一页</button>
      <div class="page-num">
        256
      </div>
      <div class="page-num">
        ...
      </div>
      <div class="page-num">
        3
      </div>
      <div class="page-num">
        2
      </div>
      <div class="page-num">
        1
      </div>
      <div class="current-page">
        当前第<span style="padding: 0 0.3em;">1</span>页
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    cancelEvent = function() {

    };
    updateEvent = function() {

    };
    deleteEvent = function() {

    };
    queryEvent = function() {

    };

    confirmEvent = function() {

    };
  })();
</script>