<div class="user-form">
  <div class="form-title">
    <div class="blue-block"></div>
    <div class="title">
      标段管理
    </div>
  </div>
  <div class="form-body">
    <table id="labelManagementForm">
      <tbody>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                标段名称:
              </div>
              <div class="input-content">
                <input bind-to="partName" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                工程名称:
              </div>
              <div class="input-content">
                <select bind-to="engineeringId" placeholder="" type="text">

                </select>
              </div>
            </div>
          </td>
          <td colspan="2">
            <div class="input-container">
              <div class="input-label">
                工程位置:
              </div>
              <div class="input-content">
                <input bind-to="partLocation" placeholder="" type="text"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-container">
              <div class="input-label">
                预估开始时间:
              </div>
              <div class="input-content">
                <input bind-to="partPredictStartTime" placeholder="" type="date"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                预估结束时间:
              </div>
              <div class="input-content">
                <input bind-to="partPredictEndTime" placeholder="" type="date"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                实际开始时间:
              </div>
              <div class="input-content">
                <input bind-to="partRealisticStartTime" placeholder="" type="date"/>
              </div>
            </div>
          </td>
          <td>
            <div class="input-container">
              <div class="input-label">
                实际结束时间:
              </div>
              <div class="input-content">
                <input bind-to="partRealisticEndTime" placeholder="" type="date"/>
              </div>
            </div>
          </td>
        </tr>
        <tr>

          <td>
            <div class="input-container">
              <div class="input-label">
                标段长度:
              </div>
              <div class="input-content">
                <input  bind-to="partLength" placeholder="" type="text"/>
              </div>
            </div>
          </td>

          <td>
            <div class="input-container">
              <div class="input-label">
                标段宽度:
              </div>
              <div class="input-content">
                <input  bind-to="partWidth" placeholder="" type="text"/>
              </div>
            </div>
          </td>
          <td>
          </td>

          <td>
            <button class="insert c-green">新增</button>
            <button class="query c-blue">查询</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-table">
  <div class="table-title">
    <div class="blue-block"></div>
    <div class="title">设备信息明细</div>
  </div>
  <div class="table-body">
    <div class="table-data">
      <table border="1" id="labelManagementTable">
        <thead class="table-head">
          <tr>
            <th bind-to="partName">标段名称</th>
            <th bind-to="partLocation">标段位置</th>
            <th bind-to="engineeringId">所属工程</th>
            <th bind-to="partWidth">标段宽度</th>
            <th bind-to="partLength">标段长度</th>
            <th bind-to="partPredictStartTime">预估开始时间</th>
            <th bind-to="partPredictEndTime">预估结束时间</th>
            <th bind-to="partRealisticStartTime">实际开始时间</th>
            <th bind-to="partRealisticEndTime">实际结束时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>表格数据1</td>
          <td>表格数据2</td>
          <td>表格数据3</td>
          <td>表格数据4</td>
          <td>表格数据5</td>
          <td>表格数据6</td>
          <td>表格数据7</td>
          <td>表格数据8</td>
          <td>表格数据9</td>
          <td>删除\修改</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <button class="pagnition-next">下一页</button>
      <button class="pagnition-prev">上一页</button>
      <div class="page-num">
        256
      </div>
      <div class="page-num">
        ...
      </div>
      <div class="page-num">
        3
      </div>
      <div class="page-num">
        2
      </div>
      <div class="page-num">
        1
      </div>
      <div class="current-page">
        当前第<span style="padding: 0 0.3em;">1</span>页
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    $.ajax({
      url: '/projectManagement/engineeringShow',
      dataType: "json",
      type:"post",
      async: true,
      data: {
        userId: '',
        engineeringId: ''
      },
      success:function (response) {
        // 初始化页面下拉选
        var optStr = "";
        for (var i = 0; i < response.length; i ++) {
          optStr += '<option value="' + response[i].engineeringId + '">' + response[i].engineeringName + '</option>'
        }
        $('select[bind-to="engineeringId"]').html(optStr);
      },
      error: function(error) {
      }
    });

    $.ajax({
      url: '/projectManagement/partShow',
      dataType: "json",
      type:"post",
      async: true,
      data: {
        'userId': window.sessionStorage.getItem('USER_ID')
      },
      success:function (response) {
        // 初始化表格
        bindData('#labelManagementTable', response, 'partId', true);
        $(' td[bind-to="partPredictStartTime"],\
            td[bind-to="partPredictEndTime"],\
            td[bind-to="partRealisticStartTime"],\
            td[bind-to="partRealisticEndTime"]').each(function() {
            $(this).html( parseDate($(this).html()) );
        });
      },
      error: function(error) {
      }
    });

    insertEvent = function() {
      TARGET_ROW_SET = {};
    };

    updateEvent = function(el) {
      var partId = $(el).parents('tr').attr('p-key');

      // 更新方法查询数据/projectManagement /partShow
      $.ajax({
        url: '/projectManagement/partShow',
        dataType: "json",
        type:"post",
        async: true,
        data: {
          'userId': window.sessionStorage.getItem('USER_ID'),
          'partId': partId
        },
        success:function (response) {
          TARGET_ROW_SET = response;
          var updateForm = $('.window-content').find('.user-form');
          updateForm.find('[bind-to]').each(function() {
            var pam = $(this).attr('bind-to');
            $(this).val( response[pam] );
          });
        },
        error: function(error) {
        }
      });
    };

    deleteEvent = function(el) {
      var partId = $(el).parents('tr').attr('p-key');
      // 更新全局TARGET
      TARGET_ROW_SET = getTarget('partId', partId);

      $.ajax({
        url: '/equipmentInfo/updateEquipment',
        dataType: "json",
        type:"post",
        async: true,
        data: {
          "part": JSON.stringify([{
            'partId': partId,
            'status': '1'
          }])
        },
        success:function (response) {
          $('.query').trigger('click');

        },
        error: function(error) {

        }
      });
    };

    queryEvent = function(el) {
      var filter = el.dataSets;

      $.ajax({
        url: '/projectManagement/partShow',
        dataType: "json",
        type:"post",
        async: true,
        data: {
          'userId': window.sessionStorage.getItem('USER_ID')
        },
        success:function (response) {
          // 初始化表格
          bindData('#labelManagementTable', dataFilter(response, filter), 'partId', true);
          $(' td[bind-to="partPredictStartTime"],\
            td[bind-to="partPredictEndTime"],\
            td[bind-to="partRealisticStartTime"],\
            td[bind-to="partRealisticEndTime"]').each(function() {
            $(this).html( parseDate($(this).html()) );
          });
        },
        error: function(error) {
        }
      });
    };

    confirmEvent = function(el) {
      // 新增操作
      if (ACTION === 'INSERT') {
        var data = TARGET_ROW_SET;
        el.find('input, select').each(function() {
          if ($(this).val()) {
            data[$(this).attr('bind-to')] = $(this).val();
          }
        });

        // 新增车辆信息
        $.ajax({
          url: '/projectManagement/newPart',
          dataType: "json",
          type:"post",
          async: true,
          data: {
            'userId': window.sessionStorage.getItem('USER_ID'),
            "part": JSON.stringify([data])
          },
          success:function (response) {
            $('.query').trigger('click');

          },
          error: function(error) {

          }
        });

        // 更新操作
      } else if (ACTION === 'UPDATE') {
        var data = TARGET_ROW_SET;
        el.find('input, select').each(function() {
          if ($(this).val()) {
            data[$(this).attr('bind-to')] = $(this).val();
          }
        });

        // 更新车辆信息
        $.ajax({
          url: '/projectManagement/changeEngineering',
          dataType: "json",
          type:"post",
          async: true,
          data: {
            "part": JSON.stringify([data])
          },
          success:function (response) {
            $('.query').trigger('click');

          },
          error: function(error) {

          }
        });
      }
    };
    cancelEvent = function() {

    };
  })();
</script>