<div class="user-form">
  <div class="form-title">
    <div class="blue-block"></div>
    <div class="title">
      用户管理
    </div>
  </div>
  <div class="form-body">
    <table id="userManagementForm">
      <tbody>
      <tr>
        <td>
          <div class="input-container">
            <div class="input-label">
              用户姓名:
            </div>
            <div class="input-content">
              <input bind-to="name" placeholder="" type="text"/>
            </div>
          </div>
        </td>
        <td>
          <div class="input-container">
            <div class="input-label">
              手机号:
            </div>
            <div class="input-content">
              <input bind-to="tel" placeholder="" type="text"/>
            </div>
          </div>
        </td>
        <td>
          <div class="input-container">
            <div class="input-label">
              用户账号:
            </div>
            <div class="input-content">
              <input bind-to="account" placeholder="" type="text"/>
            </div>
          </div>
        </td>
        <td>
          <div class="input-container">
            <div class="input-label">
              用户角色:
            </div>
            <div class="input-content">
              <select bind-to="ruleId" placeholder="" type="text">

              </select>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        </td>

        <td>
        </td>

        <td>
        </td>

        <td>
          <button>查询</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-table">
  <div class="table-title">
    <div class="blue-block"></div>
    <div class="title">用户详细信息</div>
  </div>
  <div class="table-body">
    <div class="table-data">
      <table border="1" id="userManagementTable">
        <thead class="table-head">
        <tr>
          <th bind-to="name">姓名</th>
          <th bind-to="tel">手机号</th>
          <th bind-to="account">账号</th>
          <th bind-to="ruleName">角色名称</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>表格数据1</td>
          <td>表格数据2</td>
          <td>表格数据3</td>
          <td>表格数据4</td>
          <td>
            <button class="update c-green">修改</button>
            <button class="delete c-delete">删除</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <button class="pagnition-next">下一页</button>
      <button class="pagnition-prev">上一页</button>
      <div class="page-num">
        256
      </div>
      <div class="page-num">
        ...
      </div>
      <div class="page-num">
        3
      </div>
      <div class="page-num">
        2
      </div>
      <div class="page-num">
        1
      </div>
      <div class="current-page">
        当前第<span style="padding: 0 0.3em;">1</span>页
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    $.ajax({
      url: '/register/show',
      dataType: "json",
      type:"post",
      async: true,
      data: {
        'userId': window.sessionStorage.getItem('USER_ID')
      },
      success:function (response) {
        // 初始化页面下拉选
        var optStr = "";
        for (var i = 0; i < response.length; i ++) {
          optStr += '<option value="' + response[i].ruleId + '">' + response[i].ruleName + '</option>'
        }
        $('[bind-to="equipmentType"]').html(optStr);
      },
      error: function(error) {

      }
    });
    $.ajax({
      url: '/register/getUserAll',
      dataType: "json",
      type:"post",
      async: true,
      data: {
        'userId': window.sessionStorage.getItem('USER_ID')
      },
      success:function (response) {
        // 绑定表单数据
        bindData('#userManagementTable', response, 'userId');
      },
      error: function(error) {

      }
    });

    insertEvent = function() {

    };
    updateEvent = function() {
      // 更新方法查询数据/equipmentInfo /getVehicle
    };

    deleteEvent = function() {

    };

    queryEvent = function() {

    };

    confirmEvent = function(el) {

    };
    cancelEvent = function() {

    };
  })();
</script>